# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
zombie
.vscode
brain
str_replace
harl
fixed
claptrap
scavtrap
fragtrap
diamondtrap
animals
bureaucrat
.vscode
megaphone
phonebook
account
violence
harlFilter
zombieHorde
bsp
materia
whatever
iter
array
easyfind
intern
convert
serialize
